* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  color: darkblue;
  margin: auto;
  padding: 1rem;
  width: 500px;
  text-align: center;
  border-radius: 20px;
  box-shadow: inset 10px 10px 500px rgb(66, 2, 2), 10px 10px 50px darkblue,
    -10px -10px 50px black;
}
